@model BlogApp.Models.Post;
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Post", FormMethod.Post))
{
    <div class="row mb-4">
        <h1 class="">Create</h1>
        <hr class="col-6" />
    </div>
    <div class="row form-group mb-3">
        <div class="col-1">
            @Html.LabelFor(p => p.Title, new {@class = "control-label fw-bolder"})
        </div>
        <div class="col-5">
            @Html.TextBoxFor(p => p.Title, new { @class = "form-control"} )
        </div>
    </div>
    <div class="row form-group mb-3">
        <div class="col-1">
            @Html.LabelFor(p => p.Content, new {@class = "control-label fw-bolder"})
        </div>
        <div class="col-5">
            @Html.TextAreaFor(p => p.Content, new { @class = "form-control"} )
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <button type="submit" class="btn btn-primary" style="width: 100%">Add It</button>
        </div>
    </div>
    @Html.ValidationSummary(false, "", new {@class = "text-danger"});
}
